@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Merriweather&family=Rubik&display=swap");

:root {
    --site-black: #282828;
    --site-dark-grey: #424242;
    --site-light-grey: #dedee6;
    --site-white: #e9e8ea;
    --site-dark-blue: #0077cc;
    --site-light-blue: #0095ff;
    --site-dark-orange: #cc5500;
    --site-light-orange: #ff6400;
}

html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
    color: var(--site-black);
    letter-spacing: 2px;
    background-color: var(--site-light-grey);
}

/* Font Styling */

.headings {
    font-family: 'Merriweather', serif;
    font-size: 2rem;
    font-weight: 800;
}

.subheadings {
    font-size: 1.5rem;
}

.subtitle {
    font-family: 'Merriweather', serif;
    font-size: 1.25rem;
    font-weight: 600;
}

.title-draft {
    color: var(--site-dark-grey);
    font-family: 'Electrolize', sans-serif;
    font-size: 1.25em;
    font-weight: 800;
}

.little {
    font-family: 'Electrolize', sans-serif;
    font-size: 0.75em;
}

.note-txt {
    font-family: 'Merriweather', serif;
    font-size: 0.75em;
}

.ltr-space {
    letter-spacing: 0;
}

/* Links & Buttons */

li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}

.nav-links {
    cursor: pointer;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    margin: 1rem;
    color: var(--site-light-grey);
    font-weight: 600;
    border-radius: 4px;
    transition: all 0.8s linear;
}

.nav-links:hover {
    color: var(--site-white);
    font-weight: 900;
    box-shadow: inset 0 -90px 90px 0 var(--site-dark-orange), 0 2px 4px 0 var(--site-dark-grey);
}

.dark-text {
    color: var(--site-black);
}

.wrt-link {
    font-family: 'Electrolize', sans-serif;
    color: var(--site-dark-blue);
    font-weight: 800;
    transition: all .5s linear;
}

.wrt-link:hover {
    color: var(--site-dark-orange);
    font-style: italic;
    text-shadow: 4px 2px var(--site-white);
}

.title-link {
    color: var(--site-dark-grey);
    font-family: 'Electrolize', sans-serif;
    font-size: 1.25em;
    font-weight: 800;
    transition: all .3s linear;
}

.title-link:hover {
    color: var(--site-dark-orange);
    text-shadow: 2px 2px var(--site-light-grey);
    font-style: oblique;
    transition: all .2s ease-in;
}

.edit-note {
    color: var(--site-dark-orange);
    font-weight: 600;
    transition: all .2s ease-in;
}

.edit-note:hover {
    color: var(--site-dark-blue);
    font-style: oblique;
}

/* Nav Styling */

.nav-style {
    background-color: var(--site-black);
    color: var(--site-light-grey);
    padding: 1em 2em;
    box-shadow: 0 2px 4px 0 var(--site-dark-grey);
}

/* Main Styling */

.book-card {
    padding: 1em;
    background-image: linear-gradient(225deg, var(--site-light-grey) 10%, var(--site-white));
}

.content-card {
    border: 8px groove var(--site-dark-grey);
    background-color: var(--site-white);
    padding: 1em;
    margin: 1em;
}

.upcoming {
    background-image: linear-gradient(45deg, var(--site-white) 10%, var(--site-light-orange));
}

hr {
    border-top: 4px ridge var(--site-dark-grey);
}

/* Footer Styling */

footer {
    background-color: var(--site-black);
    color: var(--site-light-grey);
}