<header>
    <nav class="nav-style container-fluid">
            <div class="col-12 d-flex justify-content-between">
                <div class="col headings">
                    <h1><a class="nav-links" href="{% url 'home' %}">Write It</a></h1>
                </div>
                <div>
                    <a class="nav-links" href="{% url 'accounts:login' %}">Login</a>
                    {% if user.is_authenticated %}
                    <a class="nav-links" href="{% url 'accounts:logout' %}">Logout</a>
                    {% endif %}
                </div>
            </div>
    </nav>
</header>