{% extends 'base.html' %}

{% load static %}

{% load crispy_forms_tags %}

{% block title %}
{{ chapter.title }}
{% endblock %}

{% block content %}

<div>
    <a class="wrt-link" href="{% url 'book' slug=chapter.book.slug %}">Back to {{ chapter.book.title}} >></a>
</div>

<section class="container-fluid book-card">
    <div class="row">
        <div class="col-sm-8">
        <h1 class="headings">{{ chapter.title }}</h1>
        {% if chapter.subtitle %}
        <h2 class="subtitle">{{ chapter.subtitle }}</h2>
        {% endif %}
    </div>
        <div class="col-sm-4 d-flex justify-content-sm-end">
            <ul>
            <li>Started on:</li>
            <li>{{ chapter.created_on|date:'d M y' }}</li>
            <li>Last updated:</li>
            <li>{{ chapter.edited_on|date:'d M y' }}</li>
            </ul>
        </div>
    </div>
    <div class="row">
        {% if notes %}
        <div class="col-md-9">
            <div class="content-card">
            <p>
                {{ chapter.content|safe }}
            </p>
            </div>
        </div>
        <div class="col-md-3">
            {% for note in notes %}
            <div class="note-txt">
                <p>
                    {{ note.content|linebreaks }}
                </p>
                <span class="little">{{ note.created_on }}</span>
                {% if user.is_authenticated %}
                <a class="edit-note float-end" href="{% url 'edit_note' note_id=note.id %}">Edit Note</a>
                {% endif %}
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="col-md-10 content-card">
            <p>
                {{ chapter.content|safe }}
            </p>
        </div>
        {% endif %}
    </div>
</section>
<section class="row">
    <div class="col-6 mx-auto">
        {% if user.is_authenticated %}
        <a class="nav-links dark-text" href="{% url 'add_chapter' slug=chapter.book.slug %}">New Chapter</a>
        <a class="nav-links dark-text" href="{% url 'edit_chapter' slug=chapter.slug %}">Edit Chapter</a>
        <a class="nav-links dark-text" href="{% url 'add_note' slug=chapter.slug %}">Add Note</a>
        {% endif %}
    </div>
    <div class="col-4 little">
        <p class="float-end">Wordcount: {{ chapter.content|wordcount }}</p>
    </div>
</section>
<section class="col-12 d-flex justify-content-between">
    <a class="wrt-link" href="{% url 'home' %}">Go Home >></a>
    <a class="wrt-link" href="#top">Back to Top</a>
    <a class="wrt-link" href="{% url 'book' slug=chapter.book.slug %}">Back to {{ chapter.book.title}} >></a>
</section>


{% endblock %}