{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
Note Form
{% endblock %}

{% block content %}

<section class="container-fluid">
    <div class="col-12">
        <h1>Note Form</h1>
        <div class="d-flex justify-content-center">
            <form method="POST">
                {% csrf_token %}
    
                <div class="form-group mb-0">
                {{ form.content|as_crispy_field }}                
                </div>

                <button class="nav-links dark-text" type="submit">Submit</button>
            </form>
        </div>
    </div>
    <div>
        <a class="wrt-link float-end" href="{% url 'home' %}">Go Home >></a>
    </div>
</section>

{% endblock %}